<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsultaCEP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <br />
            <br />
            <div class="form-inline">
                <div class="form-group mb-2">
                    @using (Html.BeginForm("ConsultaCep", "Cep", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <p class="font-weight-bold">
                            CEP: @Html.TextBox("cep", "", new { @class = "form-control", @placeholder = "Ex: 40270350" })
                            <input type="submit" value="Consultar" class="btn btn-primary" />
                            @Html.ValidationMessage("CepError")
                        </p>
                    }

                </div>
                <div class="form-group mb-2">
                    @using (Html.BeginForm("ListarCeps", "", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <p class="font-weight-bold">
                            &nbsp;&nbsp; UF: @Html.TextBox("uf", "", new { @class = "form-control", @placeholder = "Ex: BA" })
                            <input type="submit" value="Filtrar" class="btn btn-primary" />
                            @Html.ValidationMessage("UfError")

                        </p>

                    }
                </div>

            </div>

            <span class=" text-danger"> @Html.ValidationSummary(true)</span>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ConsultaCEP - <a asp-area="" asp-controller="Cep" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
