@model IEnumerable<ConsultaCEP.Models.ViewModels.CepViewModel>

@{
    ViewData["Title"] = "ListarCeps";
}

<hr />

<h1>Lista de Endereços</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.logradouro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.complemento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.localidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.unidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ibge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gia)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.localidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ibge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gia)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

